body {
    background-image: url("/xena/xenaAndGabrielle.jpg");
    /*background-repeat: no-repeat;*/
    background-position: top;
    background-size: contain;
}

h1  {
    color: white;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    background: rgba(0, 0, 0, 0.6);
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition:all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1.1);
    border-color: rebeccapurple;
    box-shadow: 0 0 10px rebeccapurple;
}

kbd {
    display: block;
    font-size: x-large;
}

.sound {
    font-size: x-small;
    color: white;
}